<div class="wrapper">
    <img src="./assets/blop1.svg" class="blop1" alt="">
    <img src="./assets/blop2.svg" class="blop2" alt="">
    <div class="content shadow rounded">
        <div class="left">
            <div class="head">
                <p>Witamy w</p>
                <img class="img-head" src="./assets/logo1.svg" alt="">
                <h1>Wspólnie Unikalni, Razem Silniejsi</h1>
            </div>
            
            
            <form>
                <div class="form-group">
                    <h2>Zaloguj</h2>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Login" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Hasło" type="password" name="" id="">
                </div>
                <div class="form-group">
                    <button class="btn btn-u-login" type="submit">Zaloguj</button>
                    <div class="register">
                        <p>Nie posiadasz jeszcze konta?</p>
                        <a href="">Zarejstruj się tutaj</a>
                    </div>
                </div>
            </form>
            <div class="login-auth">
                <hr>
                <a href="">fb-login</a>
                <a href="">google-login</a>
            </div>
          
        </div>
        <div class="right">
            <img src="./assets/banner.jpg" alt="" class="right-banner rounded">
            <div class="right-content rounded">
                <!-- <h3>uson..</h3> -->
                <p>Przyjazna przystań dla osób niepełnosprawnych</p>
            </div>
        </div>
      
    </div>
</div>