<div class="wrapper">
    <img src="./assets/blop1.svg" class="blop1" alt="">
    <img src="./assets/blop2.svg" class="blop2" alt="">
    <div class="content shadow rounded">
        <div class="left">
            <div class="head">
                <p>Witamy w</p>
                <img class="img-head" src="./assets/logo1.svg" alt="">
                <h1>Wspólnie Unikalni, Razem Silniejsi</h1>
            </div>
            
            
            <form>
                <div class="form-group">
                    <h2>Zaloguj</h2>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Login" type="text" name="login" ngModel required>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Hasło" type="password" 
                    name="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-u-login" (click)="goToHome()" >Zaloguj</button>
                    <div class="register">
                        <p>Nie posiadasz jeszcze konta?</p>
                        <a href="">Zarejstruj się tutaj</a>
                    </div>
                </div>
            </form>
            <div class="login-auth">
                <hr>
                <a routerLink="/google" class="login-card shadow rounded">
                    <img class="login-icon" src="./assets/icons/google.png" alt="">
                    Zaloguj za pomocą Google
                </a>
                <a href="#" class="login-card shadow rounded">
                    <img class="login-icon" src="./assets/icons/facebook.png" alt="">
                    Zaloguj za pomocą Facebook
                </a>
            </div>
          
        </div>
        <div class="right">
            <img src="./assets/banner.jpg" alt="" class="right-banner rounded">
            <div class="right-content rounded">
                <!-- <h3>uson..</h3> -->
                <p>Przyjazna przystań dla osób niepełnosprawnych</p>
            </div>
        </div>
      
    </div>
</div>