<section class="homepage" id="style-3">
    <div class="friends rounded"  >
        <h4>Znajomi</h4>
        <div class="friends-list" id="style-2" >
            <app-friend-element *ngFor="let friend of friends" [userInput]="friend"></app-friend-element>
        </div>
    </div>
    <div class="recomended" >
        <br><br>
        <h4>Polecane Wydarzenia</h4>
        <div class="events-list" id="style-1" >
          <div class="event" *ngFor="let event of recomended">
            <a href="#">
                <div class="bg">
                    <img src="{{event.img}}" alt="">
                    <div class="contentev">
                        <h4>{{event.name}}</h4>
                        <p>{{event.description}}</p>
                        <p>{{event.date}}</p>
                    </div>
                </div>
            </a>
          </div>
        </div>
    </div>
    <br><br><br>

</section>
