<div class="nav shadow  rounded">
    <a routerLink="homepage" class="shadow"> <img src="./assets/icons/home.png" alt=""> Home</a>
    <a routerLink="groups" class="shadow"> <img src="./assets/icons/communities.png" alt=""> Społeczności</a>
    <a routerLink="events" class="shadow">  <img src="./assets/icons/calendar.png" alt=""> Wydarzenia</a>
    <a routerLink="happenings" class="shadow">  <img src="./assets/icons/location.png" alt=""> Spotkania</a>
    <a routerLink="meet" class="meets shadow">  <img src="./assets/icons/meet.png" alt=""> Poznaj</a>
</div>